body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:61px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:891px;
  top:330px;
  width:208px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:219px;
  height:67px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:204px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:330px;
  width:135px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:146px;
  height:67px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:485px;
  top:330px;
  width:135px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:146px;
  height:67px;
}
#u7 {
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:683px;
  top:330px;
  width:145px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:156px;
  height:67px;
}
#u9 {
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:225px;
  top:353px;
  width:62px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:14px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:62px;
  height:1px;
}
#u11 {
  position:absolute;
  left:287px;
  top:330px;
  width:135px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:146px;
  height:67px;
}
#u12 {
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:91px;
  top:136px;
  width:169px;
  height:29px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:90px;
  top:179px;
  width:85px;
  height:29px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:92px;
  top:222px;
  width:85px;
  height:29px;
  font-family:'华文新魏 Regular', '华文新魏';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:422px;
  top:353px;
  width:62px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:62px;
  height:1px;
}
#u20 {
  position:absolute;
  left:828px;
  top:353px;
  width:62px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:14px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:62px;
  height:1px;
}
#u21 {
  position:absolute;
  left:76px;
  top:0px;
  width:180px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
}
#u21_img.selected {
}
#u21.selected {
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:176px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:621px;
  top:353px;
  width:62px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:53px;
  top:-5px;
  width:14px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:62px;
  height:1px;
}
#u25 {
  position:absolute;
  left:20px;
  top:10px;
  width:40px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:11px;
  top:18px;
  width:63px;
  height:23px;
  font-family:'Droid Serif Regular', 'Droid Serif';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
